// Color system

$gray-900: #121212;
$white: #fff;
$gray-800: #232323;
$blue: rgb(0, 119, 255);
$red: lighten(red, 1%);
$scheme1: #33a88e;
$primary: $red;
$accent: $blue;
$gray-700: #333333;
$pink: #ff6caf;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$black: #000;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-600: #6c757d;
$light: $gray-700;

$border-radius: 4px;

// Body
//

$body-bg: $white;
$body-color: $gray-800;

